ul,
li {
  transition: 0.3s;
}

ul:hover li {
  transform: translate(-10px, -10px);
  opacity: 0;
}
@keyframes fadeUp {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px);
  }
}
