* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(203, 53, 233);
  color: white;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
}
.container h1 {
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
.form-control {
  width: 330px;
  position: relative;
  padding: 15px 0;
}
.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  /* padding: 15px; */
  font-size: 18px;
}
.form-control input:focus {
  outline: none;
}
.form-control input:focus + label {
  z-index: 1;
}
.form-control label span {
  display: inline-block;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.form-control input:focus + label span {
  transform: translateY(-30px);
  color: lightblue;
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
  color: white;
}
.container button {
  display: inline-block;
  width: 100%;
  margin: 20px 0 15px;
  padding: 10px;
  background-color: rgb(13, 138, 221);
  border: none;
  font-size: 17px;
  color: white;
  border-radius: 4px;
}
.container a {
  color: lightblue;
  text-decoration: none;
  transition: color 0.3s;
}
.container a:hover {
  color: rgb(84, 125, 247);
}
