* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
}
.container {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container h1 {
  font-weight: 300;
  margin-bottom: 20px;
}
.form-control {
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding: 10px 0;
}
.form-control input {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 2;
}
.form-control input:focus {
  outline: none;
}
.form-control input span {
  font-size: 18px;
  display: inline-block;
}
.form-control input:focus + label span {
  transform: translateY(-30px);
  color: lightblue;
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
}
