body {
  text-align: center;
  font-family: sans-serif;
  overflow-x: hidden;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.box {
  height: 200px;
  width: 200px;
  background-color: blueviolet;
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
  transition: transform 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box:not(:last-child) {
  margin-bottom: 30px;
}
.box:nth-child(even) {
  transform: translateX(-500px);
}

.box:nth-child(odd) {
  transform: translateX(500px);
}
.box.active {
  transform: translateX(0);
}
