html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  overflow-x: hidden;
}
h2 {
  text-align: center;
  color: #b84f0e;
}
#nameInput {
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}
#nameInput:focus {
  outline: none;
}
#download-btn {
  color: #b84f0e;
  text-decoration: none;
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
}

#toast {
  background-color: red;
  position: absolute;
  top: 2rem;
  right: -100%;
  padding: 1rem 1.5rem;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#toast.active {
  right: 0;
}
