body {
  text-align: center;
  font-family: sans-serif;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.box {
  height: 200px;
  width: 200px;
  background-color: blueviolet;
  margin: 0 auto;
  font-size: 20px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box:not(:last-child) {
  margin-bottom: 30px;
}
