body {
  background: url("http://lorempixel.com/800/200/nature/4/") center center fixed;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 10px #000;
}
