* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
  background-color: red;
  width: 0%;
  height: 100vh;
  float: left;
  transition: width 0.3s;
}
.sidebar.show {
  width: 20%;
}
.container {
  transition: width 0.3s, margin-left 0.3s;
}
.container.split {
  width: 80%;
  margin-left: 20%;
}
