.container {
  display: flex;
  justify-content: space-between;
}
.box {
  border: 1px solid orangered;
  padding: 10px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.copied-box {
  position: absolute;
  color: red;
}
