.playground {
  height: 300px;
  width: 400px;
  border: 1px solid orange;
  position: relative;
  background-position: center;
  background-size: cover;
  /* z-index: -1; */
}
.courier {
  font-family: "Courier New", Courier, monospace;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.select {
  position: relative;
  /* height: 10rem; */
}
.select__options {
  background-color: red;
  z-index: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
}
.d-none {
  display: none;
}
