// =====================================================
// Reusable component
// ====================================================
// Primary color : #e42329
$color-primary: #e42329;
$color-gray-dark-1: #4a4a4a;
$color-gray-light-1: #757575;

$text-size: 1.1rem; //20
$heading-size: 2.5rem; //45
$subheading-size: 1.2rem; //22;
$small-size: 0.95rem; //18
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $text-size;
}
p {
  font-size: $text-size;
  font-weight: 300;
}
.about {
  &__video {
    &-link {
      position: relative;
    }
    &-icon {
      position: absolute;
      height: 5rem;
      width: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.heading-main {
  font-size: 2.5rem;
  color: $color-gray-dark-1;
  font-family: "Roboto Slab", serif;
}
// =====================================================
// Section Navbar
// ====================================================
#mainNavbar {
  .navbar-nav {
    margin-left: 10%;
  }
  .navbar-nav .nav-link {
    text-transform: uppercase;
    color: $color-gray-light-1;
    font-size: 1.1rem;
  }
  .navbar-brand img {
    width: 9rem;
  }
  .navbar-download {
    i {
      color: $color-primary;
    }
  }
}
.section-slides,
.caroursel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 80vh;
}
.section-slides {
  .carousel-inner,
  .carousel-item {
    position: static;
  }
}
.carousel-indicators {
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 100px;
  top: 22.8%;
  left: -3%;
}
.carousel-indicators li {
  height: 24%;
  width: 100%;
  text-indent: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $small-size;
  background-color: rgba($color: #fff, $alpha: 0.9);
  cursor: pointer;
  &.active {
    background-color: $color-primary;
    color: #fff;
  }
  &:not(:last-of-type) {
    margin-bottom: 7px;
  }

  // width: 3rem;
}
.carousel-indicators li i {
  display: block;
}
.carousel-caption {
  background-color: rgba($color: #fff, $alpha: 0.9);
  width: 45%;
  top: 50%;
  left: 20%;
  bottom: none;
  transform: translateY(-50%);
  height: 300px;
}
.carousel-item img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}
.carousel-text {
  font-size: $text-size;
}
.carousel-btn {
  font-size: $subheading-size;
}
// =====================================================
// Section download app
// ====================================================
.section-download-app {
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus {
      outline: 0;
    }
  }
  .btn.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  img {
    height: 2.5rem;
  }
  .download-text {
    color: $color-gray-dark-1;
    font-weight: 700;
  }
  .form-control {
    background-color: #eee;
  }
}
// =====================================================
// Section about
// ====================================================

// =====================================================
// Section download app
// ====================================================
.work-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $text-size;
  color: $color-gray-light-1;
  i {
    background-color: greenyellow;
    color: #fff;
    border-radius: 50%;
  }
}
.work-tab-link {
  background-color: #f1f1f1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $small-size;

  &.active {
    background-color: $color-primary;
  }
}
.works-subheading {
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: $color-gray-dark-1;
}
// =====================================================
// Section testimonial
// ====================================================
.section-testimonial {
  .testimonial__ratings {
    color: yellow;
  }
  h5 {
    color: $color-primary;
    position: relative;
    &::before {
      content: "";
      height: 3px;
      width: 10px;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: -20px;
    }
  }
}
// =====================================================
// quick links
// ====================================================
.quick-links a {
  color: #333;
}
// =====================================================
// Footer
// ====================================================

// =====================================================
// Breakpoint
// ====================================================
@media (max-width: 992px) {
  #mainNavbar {
    .navbar-nav {
      margin-left: 0%;
    }
  }
  .download-form {
    padding: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .download-img {
    padding-left: 1rem;
  }
  .donwload-form .form-inline .form-control {
    width: 100% !important;
  }
  .donwload-form .btn.btn-primary.w-25 {
    width: 50% !important;
  }
}
@media (max-width: 575px) {
  .section-works .nav {
    flex-direction: row !important;
    width: 100%;
    a {
      width: 24%;
      &:not(:last-of-type) {
        margin-right: 1%;
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// media query for slider
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
  .carousel-indicators {
    left: -4% !important;
  }
}
@media (max-width: 1200px) {
  .carousel-caption {
    left: 21%;
    width: 50%;
  }
}
@media (max-width: 1070px) {
  .carousel-caption {
    left: 22%;
    width: 60%;
  }
}
@media (max-width: 960px) {
  .carousel-caption {
    left: 23%;
  }
}
@media (max-width: 890px) {
  .carousel-caption {
    left: 24%;
    width: 75%;
  }
}
@media (max-width: 810px) {
  .carousel-indicators {
    display: none;
    // flex-direction: row;
    // height: 100px;
    // width: 80%;
    // li {
    //   width: 24%;
    //   margin-right: 7px;
    //   align-items: stretch;
    // }
  }
  .carousel-caption {
    left: 10%;
    width: 85%;
  }
  .section-slides,
  .caroursel,
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 100vh;
  }
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
}
// =====================================================
// Section download app
// ====================================================
// =====================================================
// Section download app
// ====================================================
