* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.container {
  width: 70vw;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.success input {
  border: 1px solid rgb(10, 75, 10);
  color: rgb(10, 75, 10);
}
.form-group.error input {
  border: 1px solid red;
  color: red;
}
.form-group.error small {
  display: block;
  color: red;
}
.form-group small {
  display: none;
}
.form-group input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form-group input:focus {
  outline: none;
}
button {
  display: block;
  width: 100%;
  border: none;
  background-color: rgb(94, 94, 223);
  color: white;
  border-radius: 5px;
  padding: 7px;
  font-size: inherit;
  cursor: pointer;
  margin-top: 10px;
}
