html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
}
.container {
  width: 400px;
  min-height: 500px;
  border: 1px solid #ccc;
}
.menu-container {
  width: 100%;
  background-color: #777;
  text-align: center;
}
.menu-container::after {
  content: "";
  display: table;
  clear: both;
}
.menu-container a {
  width: 10%;
  /* display: inline-block; */
  float: left;
  background-color: red;
  padding: 2rem;
  font-size: 2rem;
}
.menu-container a:hover {
  background-color: black;
  color: red;
}
.menu-vertical {
  width: 50px;
  background-color: #888;
}
.menu-vertical a {
  display: block;
  font-size: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.menu-vertical a:hover {
  background-color: greenyellow;
}
/* section accordion  */
.section-accordion {
  padding: 3rem 0;
  font-size: 1.6rem;
}
.section-accordion button {
  width: 100%;
  display: block;
  border: none;
  background-color: #ddd;
  padding: 1rem;
  cursor: point;
}
.section-accordion button:focus {
  outline: none;
}
.accordion {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1rem;
  padding: 1rem;
}
.panel {
  /* padding: 1.5rem 2.5rem; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}
.panel.active {
  display: block;
}
