body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
.table th {
  background-color: darkblue;
  color: #fff;
}
@media (max-width: 767px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr {
    display: block;
    width: 100%;
  }

  tbody tr {
    margin-bottom: 15px;
  }
  .table td {
    width: 100%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
  }
}
