body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(132, 0, 255),
    rgb(70, 5, 131)
  );
}
.container {
  height: 400px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}
