* {
  box-sizing: border-box;
}
body {
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  position: relative;
}
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4%;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease-in;
}
.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4%;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-in;
}
.circle {
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  line-height: 30px;
  vertical-align: middle;
  transition: 0.4s ease-in;
}
.circle.active {
  border-color: #3498db;
}
.btn {
  background-color: #3498db;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
